<div class="wrapper">
  <!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="dist/img/AdminLTELogo.png"
      alt="AdminLTELogo"
      height="60"
      width="60"
    />
  </div> -->

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input
                class="form-control form-control-navbar"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button
                  class="btn btn-navbar"
                  type="button"
                  data-widget="navbar-search"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <!-- User Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item"> se déconnecter </a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside
    class="main-sidebar sidebar-dark-primary elevation-4"
    style="overflow: hidden"
  >
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img
        src="dist/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="dist/img/user2-160x160.jpg"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="pages/UI/icons.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Mes voitures</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/UI/general.html" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Dépot</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Formulaire de dépot de voiture</h1>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row" style="justify-content: center">
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-body p-0">
                <div class="bs-stepper linear">
                  <form
                    class="bs-stepper-content"
                    [formGroup]="newCarForm"
                    (ngSubmit)="onSubmit()"
                  >
                    <!-- your steps content here -->
                    <div
                      style="margin: 8px; display: flex"
                      id="logins-part"
                      class="content active dstepper-block"
                      role="tabpanel"
                      aria-labelledby="logins-part-trigger"
                    >
                      <div style="flex: 1; padding: 4px">
                        <div class="form-group">
                          <label for="model">Model</label>
                          <input
                            formControlName="model"
                            [ngClass]="{ 'is-invalid': getModelErrorMessage() }"
                            type="text"
                            class="form-control"
                            placeholder="Model"
                          />
                          <span
                            *ngIf="newCarForm.get('model')?.invalid"
                            style="color: red"
                            >{{ getModelErrorMessage() }}</span
                          >
                        </div>

                        <div class="form-group">
                          <label for="model">Marque</label>
                          <input
                            formControlName="mark"
                            [ngClass]="{ 'is-invalid': getMarkErrorMessage() }"
                            type="text"
                            class="form-control"
                            placeholder="Marque"
                          />
                          <span
                            *ngIf="newCarForm.get('mark')?.invalid"
                            style="color: red"
                            >{{ getMarkErrorMessage() }}</span
                          >
                        </div>
                        <div class="form-group">
                          <label for="model">Matricule</label>
                          <input
                            formControlName="registrationNumber"
                            [ngClass]="{
                              'is-invalid': getRegistrationNumberErrorMessage()
                            }"
                            type="text"
                            class="form-control"
                            placeholder="Matricule"
                          />
                          <span
                            *ngIf="
                              newCarForm.get('registrationNumber')?.invalid
                            "
                            style="color: red"
                            >{{ getRegistrationNumberErrorMessage() }}</span
                          >
                        </div>
                      </div>
                      <div style="flex: 1; padding: 4px">
                        <div class="form-group">
                          <label for="exampleInputFile">File input</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input
                                type="file"
                                class="custom-file-input"
                                id="exampleInputFile"
                              />
                              <label
                                class="custom-file-label"
                                for="exampleInputFile"
                                >Choose file</label
                              >
                            </div>
                            <div class="input-group-append">
                              <span class="input-group-text">Upload</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" style="display: flex">
                      <!-- /.col -->
                      <div class="col-6">
                        <button
                          type="submit"
                          [disabled]="!newCarForm.valid"
                          class="btn btn-success btn-block"
                        >
                          Valider
                        </button>
                      </div>
                      <!-- /.col -->
                      <!-- /.col -->
                      <div class="col-6">
                        <a
                          (click)="onReset()"
                          class="btn btn-warning btn-block"
                        >
                          Réinitialiser
                        </a>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row (main row) -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong
      >Ramarolahy Manoaniony - Razafindrakoto Manolotsoa
      </strong
    >
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
