<div class="wrapper">
  <!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="dist/img/AdminLTELogo.png"
      alt="AdminLTELogo"
      height="60"
      width="60"
    />
  </div> -->

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input
                class="form-control form-control-navbar"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button
                  class="btn btn-navbar"
                  type="button"
                  data-widget="navbar-search"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <!-- User Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item"> se déconnecter </a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside
    class="main-sidebar sidebar-dark-primary elevation-4"
    style="overflow: hidden"
  >
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img
        src="dist/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="dist/img/user2-160x160.jpg"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="pages/UI/icons.html" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Mes voitures</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/UI/general.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Dépot</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">
              Detail réparation de la voiture
              {{ carRetrieved.registrationNumber }}
            </h1>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <form [formGroup]="formReparation"></form>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body p-0">
            <form [formGroup]="formReparation" (submit)="onSubmit()">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>libellé</th>
                    <th>Etat réparation</th>
                    <th>Etat de paiement</th>
                    <th>Date de fin de réparation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reparation of carRetrieved.detReparation">
                    <td>{{ reparation?.name }}</td>
                    <td>{{ reparation?.repState }}</td>
                    <td>
                      {{ !reparation?.payementState ? "Non payé" : "Payé" }}
                    </td>
                    <td>
                      {{
                        !reparation?.releaseAt
                          ? "Non disponible"
                          : reparation.releaseAt
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      colspan="4"
                      align="center"
                      style="
                        vertical-align: middle;
                        font-weight: bold;
                        font-size: 36px;
                        padding-top: 48px;
                      "
                    >
                      Ajout detail réparation
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="libellé">libellé</label>
                      <input
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': getNameErrorMessage() }"
                        type="text"
                        class="form-control"
                        placeholder="libellé"
                        required
                      />
                      <span
                        *ngIf="formReparation.get('name')?.invalid"
                        style="color: red"
                        >{{ getNameErrorMessage() }}</span
                      >
                    </td>
                    <td>
                      <label for="unit price">prix unitaire</label>
                      <input
                        [ngClass]="{ 'is-invalid': getUnitPriceErrorMessage() }"
                        formControlName="unitPrice"
                        type="number"
                        class="form-control"
                        placeholder="libellé"
                        required
                      />
                      <span
                        *ngIf="formReparation.get('unitPrice')?.invalid"
                        style="color: red"
                        >{{ getUnitPriceErrorMessage() }}</span
                      >
                    </td>
                    <td>
                      <label for="libellé">nombre</label>
                      <input
                        [ngClass]="{
                          'is-invalid': getItemNumberErrorMessage()
                        }"
                        formControlName="itemNumber"
                        type="number"
                        class="form-control"
                        placeholder="libellé"
                        required
                      />
                      <span
                        *ngIf="formReparation.get('itemNumber')?.invalid"
                        style="color: red"
                        >{{ getItemNumberErrorMessage() }}</span
                      >
                    </td>
                    <td
                      style="
                        display: flex;
                        flex-direction: row;
                        padding-top: 42px;
                      "
                    >
                      <div
                        class="d-flex"
                        style="justify-content: space-around; width: 100%"
                      >
                        <div>
                          <mat-slide-toggle formControlName="paymentStatus">
                            {{
                              formReparation.value.paymentStatus
                                ? "Payé"
                                : "non Payé"
                            }}
                          </mat-slide-toggle>
                        </div>
                        <div>
                          <button
                            [disabled]="!formReparation.valid"
                            type="submit"
                            class="btn btn-success btn-block"
                          >
                            Sauvegarder
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.row (main row) -->
        <div style="display: flex">
          <div class="form-group">
            <label for="release">Date de récupération</label>
            <input
              disabled="true"
              type="text"
              class="form-control"
              id="releaseDate"
              placeholder="Date de récupération"
            />
          </div>
          <div
            class="form-group"
            style="display: flex; align-items: flex-end; margin-left: 20px"
          >
            <button
              disabled="true"
              type="submit"
              class="btn btn-success btn-block"
            >
              Register
            </button>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong
      >Ramarolahy Manoaniony - Razafindrakoto Manolotsoa
      </strong
    >
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
