<div>
  <div class="register-logo">
    <a href="#"><b>Garage</b></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">S'inscrire</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="d-flex mb-3">
          <div class="d-flex flex-column mr-3 flex-grow-1">
            <div class="input-group">
              <input
                [ngClass]="{ 'is-invalid': getLastNameErrorMessage() }"
                type="text"
                class="form-control"
                placeholder="Noms"
                formControlName="lastName"
                required
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <span
              *ngIf="registerForm.get('lastName')?.invalid"
              style="color: red"
              >{{ getLastNameErrorMessage() }}</span
            >
          </div>
          <div class="d-flex">
            <div class="d-flex flex-column flex-grow-1">
              <div class="input-group">
                <input
                  [ngClass]="{ 'is-invalid': getFirstNameErrorMessage() }"
                  type="text"
                  class="form-control"
                  placeholder="Prénoms"
                  formControlName="firstName"
                  required
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <span
                *ngIf="registerForm.get('address')?.invalid"
                style="color: red"
                >{{ getFirstNameErrorMessage() }}</span
              >
            </div>
          </div>
        </div>
        <div class="d-flex flex-column mb-3">
          <div class="input-group">
            <input
              [ngClass]="{ 'is-invalid': getAddressErrorMessage() }"
              type="text"
              class="form-control"
              placeholder="Adresse"
              formControlName="address"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <span
            *ngIf="registerForm.get('address')?.invalid"
            style="color: red"
            >{{ getAddressErrorMessage() }}</span
          >
        </div>
        <div class="d-flex mb-3">
          <div class="d-flex flex-column flex-grow-1 mr-3">
            <div class="input-group">
              <input
                [ngClass]="{ 'is-invalid': getPhoneNumberErrorMessage() }"
                type="text"
                class="form-control"
                placeholder="Téléphone"
                formControlName="phoneNumber"
                required
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <span
              *ngIf="registerForm.get('phoneNumber')?.invalid"
              style="color: red"
              >{{ getPhoneNumberErrorMessage() }}</span
            >
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div class="input-group">
              <input
                [ngClass]="{ 'is-invalid': getCinErrorMessage() }"
                type="text"
                class="form-control"
                placeholder="CIN"
                formControlName="cin"
                required
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <span *ngIf="registerForm.get('cin')?.invalid" style="color: red">{{
              getCinErrorMessage()
            }}</span>
          </div>
        </div>
        <div class="d-flex flex-column mb-3">
          <div class="input-group">
            <input
              [ngClass]="{ 'is-invalid': getEmailErrorMessage() }"
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <span *ngIf="registerForm.get('email')?.invalid" style="color: red">{{
            getEmailErrorMessage()
          }}</span>
        </div>
        <div class="d-flex mb-3">
          <div class="d-flex flex-column mb-3 flex-grow-1 mr-3">
            <div class="input-group">
              <input
                [ngClass]="{ 'is-invalid': getPasswordErrorMessage() }"
                type="password"
                class="form-control"
                placeholder="Mot de passe"
                formControlName="password"
                required
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <span
              *ngIf="registerForm.get('password')?.invalid"
              style="color: red"
              >{{ getPasswordErrorMessage() }}</span
            >
          </div>
          <div class="d-flex flex-column mb-3 flex-grow-1">
            <div class="input-group">
              <input
                [ngClass]="{ 'is-invalid': getConfirmPasswordErrorMessage() }"
                type="password"
                class="form-control"
                placeholder="Confirmation mot de passe"
                formControlName="confirmPassword"
                required
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <span
              *ngIf="registerForm.get('confirmPassword')?.invalid"
              style="color: red"
              >{{ getConfirmPasswordErrorMessage() }}</span
            >
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button
              [disabled]="!registerForm.valid"
              type="submit"
              class="btn btn-success btn-block"
            >
              Register
            </button>
          </div>
          <div class="col-12 mt-3">
            <a routerLink="/login" class="btn btn-default btn-block">Annuler</a>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.card -->
</div>
<!-- /.register-box -->
