<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
          type="email"
        />
        <mat-error *ngIf="loginForm.get('email')?.invalid">
          {{ getEmailErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          placeholder="My Secret password"
          formControlName="password"
          required
          type="password"
        />
        <mat-error *ngIf="loginForm.get('password')?.invalid">
          {{ getPasswordErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" ripple>Login</button>
      <div class="mt-3">
        <a routerLink="/register">Vous n'avez pas de compte ?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
