<ng-container [ngSwitch]="layout">
  <!-- Alternativerly use the main layout as the default switch case -->
  <app-login-layout *ngSwitchCase="Layouts.Login"></app-login-layout>
  <app-register-layout *ngSwitchCase="Layouts.Register"></app-register-layout>
  <app-dashboard-client-car-list-layout
    *ngSwitchCase="Layouts.DashboardClientCarList"
  ></app-dashboard-client-car-list-layout>
  <app-dashboard-admin-car-list-layout
    *ngSwitchCase="Layouts.DashboardAdminCarList"
  ></app-dashboard-admin-car-list-layout>
  <app-dashboard-client-car-new-layout
    *ngSwitchCase="Layouts.DashboardClientCarNew"
  ></app-dashboard-client-car-new-layout>
  <app-dashboard-client-car-view-layout
    *ngSwitchCase="Layouts.DashboardClientCarView"
  ></app-dashboard-client-car-view-layout>
  <app-dashboard-admin-layout
    *ngSwitchCase="Layouts.DashboardAdmin"
  ></app-dashboard-admin-layout>
</ng-container>
